DATABASE_URL=postgres://DB_USER:DB_PASSWORD@postgres:5432/DB_NAME
DJANGO_SECRET_KEY=CHANGE_ME
DJANGO_DEBUG=True
DOMAIN=CHANGE_ME

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=mailpit
EMAIL_PORT=1025
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False

REDIS_URL=redis://redis:6379/0
