DATABASE_URL=postgres://user:password@postgres:5432/myproject
DJANGO_SECRET_KEY=django-insecure-r05^86mriv&nwvs2uj2h0*radv4dozooaiuogp0^ekqni%9
DJANGO_DEBUG=True
DOMAIN=myproject.co


EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=mailpit
EMAIL_PORT=1025
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
